@model GestionDeArchivos.Data.Entities.Document
@{
    ViewData["Title"] = "Documento";
    Layout = null;
}
<flash dismissable="false" />

    <div class="container smfont">
        <form asp-action="AddOrEdit" autocomplete="off" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="User" />
                <input type="hidden" asp-for="Date" />
                <div>
                    <label asp-for="Name" class="control-label"></label>
                    <span class="required">*</span>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Remark" class="control-label"></label>
                    <textarea asp-for="Remark" class="form-control"></textarea>
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="DocumentStatus" class="control-label"></label>
                    <span class="required">*</span>
                    <select name="DocumentStatus"class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option value="Aprobar">Aprobar</option>
                        <option value="Aprobado">Aprobado</option>
                        <option value="Revisar">Revisar</option>
                    </select>
                </div>
                @{
                    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
                }
                <div>
                    <label asp-for="Location" class="control-label"></label>
                    <span class="required">*</span>
                    <select asp-for="Location" asp-items="@items"class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    </select>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">
                        <i class="fa fa-ban"></i>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}