@model GestionDeArchivos.Models.AddDocumentViewModel

@{
    ViewData["Title"] = "Subir Documento";
}

<flash dismissable="false" />


<div class="card p-2">
    <form asp-action="Create" class="form" id="add-document-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="from-group">
            <input type="hidden" asp-for="Date" />
            @{
                List<SelectListItem> items0 = (List<SelectListItem>)ViewBag.itemsTypeDocuments;
            }
            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="TypeDocuments" class="control-label">Tipo de documento</label>
                <select asp-for="TypeDocuments" id="TpD" asp-items="@(List<SelectListItem>)ViewBag.itemsTypeDocuments" class="select2 form-control js-example-basic-multiple">
                </select>
                <span asp-validation-for="TypeDocuments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <textarea asp-for="Remark" id="Remark" class="form-control"></textarea>
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentStatus" class="control-label"></label>
                <select required name="DocumentStatus" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option value="Aprobar">Aprobar</option>
                </select>
            </div>
            @{
                List<SelectListItem> items = (List<SelectListItem>)ViewBag.itemsAreas;
            }
            <div class="form-group">
                <label asp-for="Areas" class="control-label"></label>
                <select required asp-for="Areas" id="Areas" asp-items="@items" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                </select>
                <span asp-validation-for="Areas" class="text-danger"></span>
            </div>
            @{
                List<SelectListItem> itemsAdvisor = (List<SelectListItem>)ViewBag.itemsAdvisors;
            }
            <div class="form-group">
                <label class="control-label">Asesor(Opcional)</label>
                <select asp-for="Advisor" id="Advisor" asp-items="@itemsAdvisor" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                </select>
                <span asp-validation-for="Advisor" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $('#add-document-form').submit(function (e) {
                    e.preventDefault();
                    var formData = $(this).serialize();
                    $.ajax({
                        url: $(this).attr('action'),
                        type: 'POST',
                        data: formData,
                        success: function (result) {

                            alert('Formulario enviado correctamente');
                            $('#DocumentStatus, #Remark, #Name').val('');
                        },
                        error: function (xhr, status, error) {
                            alert('Error al enviar el formulario');
                        }
                    });
                });
            });
        })
    </script>
<script>
    $(document).ready(function() {
        $('#TpD').select2({
        $('#TpD').select2({
            allowClear: true,
          language: {
              noResults: function() {
                return "No hay resultado";
              },
              searching: function() {
                  return "Buscando...";
              }
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });</script>
    }
