@{
    ViewData["Title"] = "Bievenido";
}

<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/admin-editada/dist/img/logoC.png" alt="AdminLTELogo" height="60" width="50">
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
