@model GestionDeArchivos.Models.UsuarioViewModel
@{
    ViewData["Title"] = "Usuario";
    Layout = null;
}
<flash dismissable="false" />

    <div class="container smfont">
        <form asp-action="AddOrEdit" autocomplete="off" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div>
                    <label asp-for="Nombre" class="control-label"></label>
                    <span class="required">*</span>
                    <input asp-for="Nombre" type="text" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Correo" class="control-label"></label>
                    <span class="required">*</span>
                    <input asp-for="Correo" type="email" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Contraseña" class="control-label"></label>
                    <span class="required">*</span>
                    <input asp-for="Contraseña" type="password" class="form-control" />
                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                </div>
                                <div>
                    <label asp-for="ContraseñaConfirm" class="control-label"></label>
                    <span class="required">*</span>
                    <input asp-for="ContraseñaConfirm" type="password" class="form-control" />
                    <span asp-validation-for="ContraseñaConfirm" class="text-danger"></span>
                </div>
                 <div>
                    <label asp-for="Roles" class="control-label"></label>
                    <span class="required">*</span>
                    <select name="Roles"class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option value="Usuario">Usuario</option>
                        <option value="Administrador">Administrador</option>
                    </select>
                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">
                        <i class="fa fa-ban"></i>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}